* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  perspective: 600px;
  background-color: #c7c3c3;
}

.git-bash {
  width: 400px;
  height: 400px;
  margin: 150px auto;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-evenly;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: -15px 15px rgba(0, 0, 0, 0.3);
  transform: rotate(45deg);
}

.git-bash::after {
  content: "";
  position: absolute;
  top: 48%;
  width: 45%;
  height: 5%;
  background-color: #fff;
  transform: translate3d(50%, 50%, 0);
  transform: rotate(45deg);
}

.git-bash__pink, .git-bash__green, .git-bash__yellow, .git-bash__blue {
  width: 48%;
  height: 47%;
  position: relative;
}

.git-bash__pink {
  background-color: pink;
  border-radius: 20px 0px;
}

.git-bash__pink::before {
  content: "";
  width: 260px;
  height: 20px;
  position: absolute;
  top: 105px;
  left: 0px;
  background-color: #fff;
  z-index: 1;
}

.git-bash__pink::after {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 85px;
  left: 85px;
  background-color: #fff;
}

.git-bash__green {
  background-color: green;
  border-radius: 0px 20px;
}

.git-bash__green::after {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 85px;
  left: 25px;
  background-color: #fff;
}

.git-bash__yellow {
  background-color: yellow;
  border-radius: 0px 20px;
}

.git-bash__blue {
  background-color: blue;
  border-radius: 20px 0px;
}

.git-bash__blue::after {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  left: 25px;
  background-color: #fff;
}

.gb {
  width: 400px;
  height: 400px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 30px;
  position: relative;
  transform: rotate(45deg);
}

.gb-top, .gb-bottom {
  width: 100%;
  height: 50%;
  position: relative;
}

.gb-top::before, .gb-top::after, .gb-bottom::before, .gb-bottom::after {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  border: 8px solid #fff;
}

.gb-top::before, .gb-bottom::before {
  left: 0;
}

.gb-top::after, .gb-bottom::after {
  right: 0;
}

.gb-top::before {
  background-color: #fa3e3e;
  border-radius: 30px 0px 30px 0px;
}

.gb-top::after {
  background-color: #5fda07;
  border-radius: 0px 30px 0px 30px;
}

.gb-bottom::before {
  background-color: #3615f3;
  border-radius: 0px 30px 0px 30px;
}

.gb-bottom::after {
  background-color: #f5f822;
  border-radius: 30px 0px 30px 0px;
}

.gb-line {
  width: 50%;
  height: 30px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
}

.gb-line::before, .gb-line::after {
  content: "";
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
}

.gb-line::before {
  right: 100%;
  transform: translate3d(50%, -50%, 0);
}

.gb-line::after {
  left: 100%;
  transform: translate3d(-50%, -50%, 0);
}

.gb-horizontal {
  width: 70%;
  height: 30px;
  background-color: #fff;
  position: absolute;
  top: 115px;
  left: 0px;
}

.gb-horizontal::after {
  content: "";
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate3d(-50%, -50%, 0);
}
