* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  perspective: 600px;
}

.vs-code {
  width: 200px;
  height: 400px;
  margin: 100px auto;
  transform: rotateY(45deg);
  transform-style: preserve-3d;
}

.vs-code-logo {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #47aef3;
  box-shadow: -40px 0 30px -35px rgba(0, 0, 0, 0.3);
  border-radius: 0px 15px 15px 0px;
  transform: translateX(100px);
  transform-style: preserve-3d;
}

.vs-code-logo::after, .vs-code-logo::before {
  content: "";
  border-radius: 0px 0px 20px 20px;
  display: block;
  width: 100%;
  height: 200%;
  background-color: #2d80b8;
  position: absolute;
}

.vs-code-logo::after {
  border-radius: 20px 20px 0 0;
  box-shadow: -30px 0 30px -35px rgba(0, 0, 0, 0.3);
  bottom: 0;
  transform: rotateX(65deg) skewY(-20deg);
  transform-origin: left bottom;
}

.vs-code-logo::before {
  border-radius: 0 0 20px 20px;
  top: 0;
  transform: rotateX(-65deg) skewY(20deg);
  transform-origin: left top;
}

.wrapper {
  width: 500px;
  height: 250px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.wrapper .box1 {
  width: 85%;
  height: 80%;
  background-color: #fff;
  position: relative;
}

.wrapper .box1::before, .wrapper .box1::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  background-color: grey;
}

.wrapper .box1::before {
  top: -15px;
  left: -15px;
}

.wrapper .box1::after {
  top: -15px;
  right: -15px;
}

.wrapper .box2 {
  width: 85%;
  height: 80%;
  background-color: #fff;
}

.wrapper .box2::before, .wrapper .box2::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  background-color: grey;
}

.wrapper .box2::before {
  bottom: -15px;
  left: -15px;
}

.wrapper .box2::after {
  bottom: -15px;
  right: -15px;
}
